<%- include("header") -%>

    <div class="box" id="heading">
        <h1 id="heading">About</h1>
    </div>
  <div class="box" style="max-width: 600px;">
        <p>
            Made as a part of learning MERN stack from <br>
            <em>The Complete 2023 Web Development Bootcamp</em>
        </p>
    </div>

<%- include("footer") -%>